/* Colour schemes
-------------------------------------------------------*/
$nav_grad_top: #2ecc71;
$nav_grad_bottom: #27ae60;

$borders_color: #1D1E1A;
$right_background: #323232;
$top_bar_text_shadow: rgba(0,0,0,0.5);

$menu_drop_back: #1D1E1A;
$menu_drop_hover: #3D7555;
$menu_drop_text: #eee;