.mainArea {
  height: calc(100% - 45px);
  display: flex;
  align-content: stretch;
}
.rightSide {
  background: $right_background;
  //background-image:url(https://lh5.googleusercontent.com/E3Hn0fuUQ8u134YoLtAAOqXhpZiI216arRzPrBbEHAAoxfYTyQO-kickq0-d2qsfheM0WA=w1342-h523);
  height: 100%;
  width: 100%;
  flex-grow: 1;
  flex-shrink: 1;

  .upperArea {
    width: 100%;
    height: 200px;
    display: flex;
    border-bottom: 2px solid $borders_color;

    .paletteSelect {
      background: $right_background;
      flex: 0 0 250px;
      padding: 20px;
      overflow-y: auto;
      border-right: 2px solid $borders_color;
    }

    .allBlocks {
      background: $right_background;
      height: 100%;
      width: 100%;
      overflow-x: hidden;
      overflow-y: auto;

      position: relative; /* For child positioning (absolute) */
    }
  }
  .lowerArea {
    height: calc(100% - 200px);
  }
}