/* THIS CODE IS UGLY (don't use it as a style guide)
   Things need shifting around and such for this code to make much sense at all. If anyone is willing to that, it would very much appreciated. */
/* EXAMPLE 
Sass:
.element {
  @include prefix(transform, rotate(42deg));
}
Ouput:
.element {
  -webkit-transform: rotate(42deg);
  -moz-transform: rotate(42deg);
  -ms-transform: rotate(42deg);
  -o-transform: rotate(42deg);
  transform: rotate(42deg);
}
*/
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700);
/* line 41, E:/Stuff/git/Elemental/css/style.scss */
body {
  margin: 0px;
  overflow: hidden; }

/* line 45, E:/Stuff/git/Elemental/css/style.scss */
html, body {
  height: 100%; }

/* line 49, E:/Stuff/git/Elemental/css/style.scss */
.topBar {
  background: #2ecc71;
  color: #efefef;
  padding: 10px;
  padding-top: 8px;
  padding-left: 15px;
  font-family: 'Source Sans Pro', sans-serif; }

/* line 60, E:/Stuff/git/Elemental/css/style.scss */
.left {
  display: inline-block; }

/* line 64, E:/Stuff/git/Elemental/css/style.scss */
.logo {
  font-weight: bold;
  font-size: 20px;
  vertical-align: middle;
  color: white; }

/* line 71, E:/Stuff/git/Elemental/css/style.scss */
.menus {
  display: inline-block;
  vertical-align: middle;
  margin-left: 30px; }
  /* line 75, E:/Stuff/git/Elemental/css/style.scss */
  .menus .menu {
    position: relative;
    top: 1px;
    display: inline-block;
    margin-right: 20px; }
  /* line 81, E:/Stuff/git/Elemental/css/style.scss */
  .menus .menuTitle:hover + .menuContents, .menus .menuContents:hover {
    display: block; }
  /* line 84, E:/Stuff/git/Elemental/css/style.scss */
  .menus .menuTitle {
    position: relative;
    z-index: 999;
    cursor: default;
    text-shadow: 0px 1px 1px rgba(130, 24, 13, 0.5); }
  /* line 90, E:/Stuff/git/Elemental/css/style.scss */
  .menus .menuContents {
    position: absolute;
    top: 36px;
    left: -3px;
    background: #1D1E1A;
    list-style: none;
    margin: 0px;
    padding: 0px;
    border-radius: 2px;
    min-width: 130px;
    z-index: 5;
    display: none; }
    /* line 104, E:/Stuff/git/Elemental/css/style.scss */
    .menus .menuContents:before {
      content: ' ';
      display: block;
      width: 0px;
      height: 0px;
      box-sizing: border-box;
      border: 10px solid transparent;
      border-bottom-color: #1D1E1A;
      position: absolute;
      top: -20px;
      left: 5px;
      z-index: -8; }
    /* line 118, E:/Stuff/git/Elemental/css/style.scss */
    .menus .menuContents:after {
      content: ' ';
      display: block;
      width: 120%;
      /* For older browsers */
      height: 130%;
      width: calc(100% + 20px);
      height: calc(100% + 40px);
      position: absolute;
      top: -30px;
      left: -10px;
      z-index: -1; }
    /* line 131, E:/Stuff/git/Elemental/css/style.scss */
    .menus .menuContents li {
      padding: 10px 20px;
      cursor: pointer;
      color: #eee; }
      /* line 136, E:/Stuff/git/Elemental/css/style.scss */
      .menus .menuContents li:first-of-type {
        border-top-left-radius: 2px;
        border-top-right-radius: 2px; }
      /* line 141, E:/Stuff/git/Elemental/css/style.scss */
      .menus .menuContents li:last-of-type {
        border-bottom-left-radius: 2px;
        border-bottom-right-radius: 2px; }
      /* line 146, E:/Stuff/git/Elemental/css/style.scss */
      .menus .menuContents li:hover {
        background: #3D7555; }

/* line 153, E:/Stuff/git/Elemental/css/style.scss */
.mainArea {
  height: calc(100% - 45px);
  display: flex;
  align-content: stretch; }

/* line 159, E:/Stuff/git/Elemental/css/style.scss */
.pagePreview {
  height: 100%;
  max-width: 100%;
  box-sizing: border-box;
  border-right: 4px solid #1D1E1A;
  flex: 0 0 400px;
  overflow-x: hidden; }

/* line 168, E:/Stuff/git/Elemental/css/style.scss */
.previewBody {
  background: white;
  text-align: center;
  padding-top: 100px;
  width: 100%;
  height: 100%; }

/* line 176, E:/Stuff/git/Elemental/css/style.scss */
.rightSide {
  background: #323232;
  height: 100%;
  width: 100%;
  flex-grow: 1;
  flex-shrink: 1; }
  /* line 184, E:/Stuff/git/Elemental/css/style.scss */
  .rightSide .upperArea {
    width: 100%;
    height: 200px;
    display: flex;
    border-bottom: 2px solid #1D1E1A; }

/* line 192, E:/Stuff/git/Elemental/css/style.scss */
.upperArea .allBlocks {
  background: #323232;
  height: 100%;
  width: 60%;
  overflow-x: hidden;
  overflow-y: auto;
  position: relative; }

/* line 202, E:/Stuff/git/Elemental/css/style.scss */
.paletteSelect {
  display: flex;
  width: 40%;
  padding: 0px; }

/* line 208, E:/Stuff/git/Elemental/css/style.scss */
.paletteColumn {
  width: 40%;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: auto;
  margin-bottom: auto;
  padding: 0;
  position: relative;
  left: -3px; }

/* line 220, E:/Stuff/git/Elemental/css/style.scss */
.paletteOptionWrap {
  display: block;
  background: #DDDDDD;
  padding: 0px;
  padding-left: 10px;
  box-sizing: border-box;
  cursor: pointer;
  width: 100%;
  height: 25px;
  line-height: 25px;
  position: relative;
  font-family: 'Source Sans Pro', sans-serif;
  margin-top: 15px;
  margin-bottom: 15px;
  border-radius: 123456px; }
  /* line 242, E:/Stuff/git/Elemental/css/style.scss */
  .paletteOptionWrap input[type=radio] {
    display: none; }
  /* line 246, E:/Stuff/git/Elemental/css/style.scss */
  .paletteOptionWrap .paletteColorIndicator {
    display: block;
    width: 10px;
    height: 100%;
    position: absolute;
    top: 0px;
    right: 10px; }

/* line 256, E:/Stuff/git/Elemental/css/style.scss */
#searchBar {
  position: absolute;
  top: 0px;
  right: 10px;
  border-radius: 0px 0px 5px 5px;
  border: 1px solid #1D1E1A;
  border-top: none;
  outline: none;
  padding: 8px 10px 8px 26px;
  background-image: url(https://cdn.scratch.mit.edu/scratchr2/static/__87c8959d9c6fe17d8096b483c05be220__/images/nav-search-glass.png);
  background-repeat: no-repeat;
  background-position: 7px 9px; }

/* line 271, E:/Stuff/git/Elemental/css/style.scss */
.farRight {
  float: right;
  padding-right: 40px;
  position: relative;
  top: 3px;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5); }

/* line 279, E:/Stuff/git/Elemental/css/style.scss */
.fancyCheck {
  width: 20px;
  margin: 20px auto;
  position: relative;
  display: none; }

/* line 286, E:/Stuff/git/Elemental/css/style.scss */
.fancyCheck + label {
  cursor: pointer;
  position: absolute;
  width: 20px;
  height: 20px;
  top: 0px;
  right: 10px;
  border-radius: 4px;
  margin-left: 10px;
  background: #fcfff4; }

/* line 299, E:/Stuff/git/Elemental/css/style.scss */
.fancyCheck + label:after {
  filter: alpha(opacity=0);
  opacity: 0;
  content: '';
  position: absolute;
  width: 9px;
  height: 5px;
  background: transparent;
  top: 4px;
  left: 4px;
  border: 3px solid #333;
  border-top: none;
  border-right: none;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg); }

/* line 320, E:/Stuff/git/Elemental/css/style.scss */
.fancyCheck + label:hover::after {
  opacity: 0.5; }

/* line 324, E:/Stuff/git/Elemental/css/style.scss */
.fancyCheck:checked + label:after {
  opacity: 1; }

@media (max-width: 450px) {
  /* line 329, E:/Stuff/git/Elemental/css/style.scss */
  .advanceWrap {
    display: none; } }

/*# sourceMappingURL=style.css.map */