/* Font Imports
-------------------------------------------------------*/
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700);
/* SCSS Imports
-------------------------------------------------------*/
@import "colours";
@import "mixins";
@import "topbar";
@import "utils";
@import "layout";

/* THIS CODE IS UGLY (don't use it as a style guide)
   Things need shifting around and such for this code to make much sense at all. If anyone is willing to that, it would very much appreciated. */

*{
  box-sizing: border-box;
}

body {
  margin: 0;
  overflow: hidden;
}

html, body {
  height: 100%;
}

.pagePreview {
  height: 100%;
  max-width: 100%;
  box-sizing: border-box;
  border-right: 4px solid $borders_color;
  flex: 0 0 400px;
  overflow-x: hidden;
}

.previewBody {
  background: white;
  width: 100%;
  height: 100%;
}

.paletteColumn {
  width: 50%;
  margin: 0;
  padding: 5px;
  text-align: left;
  display: block;
  float: left;
  position: relative;
  .paletteOptionWrap:last-of-type {
    margin-bottom: 0;
  }
}

.paletteOptionWrap {
  display: inline-block;

  border: 1px solid #B3B3B3;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.08);

  /* Massive gradient code: */
  background: rgb(255, 255, 255); /* Old browsers */
  background: -moz-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(230, 230, 230, 1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, 1)), color-stop(100%, rgba(230, 230, 230, 1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(230, 230, 230, 1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(230, 230, 230, 1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(230, 230, 230, 1) 100%); /* IE10+ */
  background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(230, 230, 230, 1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e6e6e6', GradientType=0); /* IE6-9 */

  transition: box-shadow 0.1s ease-out;
  border-radius: 999px;
  padding: 3px 12px;
  font-family: 'Source Sans Pro', sans-serif;
  cursor: pointer;
  width: 100%;
  margin-bottom: 10px;
  position: relative;

  input[type=radio] {
    display: none;
  }
}

.paletteColorIndicator {
  display: block;
  width: 20px;
  height: 26px;
  background: rgb(222, 42, 51);
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 0 999px 999px 0;
}

.paletteColorIndicator:after {
  content: ' ';
  display: block;
  width: 20px;
  height: 26px;

  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.12) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0.12))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.12) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.12) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.12) 100%); /* IE10+ */
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.12) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#1f000000', GradientType=0); /* IE6-9 */

  position: absolute;
  top: 0;
  right: 0;
  border-radius: 0 999px 999px 0;
}

.paletteOptionWrap:hover {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0);
}

#searchBar {
  position: absolute;
  top: 0;
  right: 10px;
  border-radius: 0 0 5px 5px;
  border: 1px solid $borders_color;
  border-top: none;
  outline: none;
  padding: 8px 10px 8px 26px;
  background: url(https://cdn.scratch.mit.edu/scratchr2/static/__87c8959d9c6fe17d8096b483c05be220__/images/nav-search-glass.png) no-repeat 7px 9px;
  background-color: #fff;
}

.farRight {
  float: right;
  padding-right: 40px;
  position: relative;
  top: 3px;
  text-shadow: 0 1px 1px $top_bar_text_shadow;
}

.fancyCheck {
  width: 20px;
  margin: 20px auto;
  position: relative;
  display: none;
}

.fancyCheck + label {
  cursor: pointer;
  position: absolute;
  width: 20px;
  height: 20px;
  top: 0;
  right: 10px;
  border-radius: 4px;
  margin-left: 10px;

  -webkit-box-shadow: inset 0 1px 1px white, 0 1px 3px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: inset 0 1px 1px white, 0 1px 3px rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 1px 1px white, 0 1px 3px rgba(0, 0, 0, 0.5);
  background: #fcfff4;

  background: -webkit-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  background: -moz-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  background: -o-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  background: -ms-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  background: linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fcfff4', endColorstr='#b3bead', GradientType=0);
}

.fancyCheck + label:after {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  opacity: 0;
  content: '';
  position: absolute;
  width: 9px;
  height: 5px;
  background: transparent;
  top: 4px;
  left: 4px;
  border: 3px solid #333;
  border-top: none;
  border-right: none;

  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.fancyCheck + label:hover::after {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
  filter: alpha(opacity=30);
  opacity: 0.5;
}

.fancyCheck:checked + label:after {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
  opacity: 1;
}

@media (max-width: 450px) {
  .advanceWrap {
    display: none;
  }
}