.topBar {
  /* Monster Gradient: */
  background: $nav_grad_top; /* Old browsers */
  background: -moz-linear-gradient(top, $nav_grad_top 0%, $nav_grad_bottom 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, $nav_grad_top), color-stop(100%, $nav_grad_bottom)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, $nav_grad_top 0%, $nav_grad_bottom 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, $nav_grad_top 0%, $nav_grad_bottom 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, $nav_grad_top 0%, $nav_grad_bottom 100%); /* IE10+ */
  background: linear-gradient(to bottom, $nav_grad_top 0%, $nav_grad_bottom 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ce3723', endColorstr='#b12715', GradientType=0); /* IE6-9 */

  color: #efefef;
  border-bottom: 1px solid $borders_color;
  box-shadow: inset 0px -3px 3px rgba(0, 0, 0, 0.05),
  inset 0 -2px 2px rgba(0, 0, 0, 0.1),
  inset 0 -1px 1px rgba(0, 0, 0, 0.2),
  inset 0 3px 3px rgba(200, 255, 200, 0.05),
  inset 0 2px 2px rgba(200, 255, 200, 0.1),
  inset 0 1px 1px rgba(200, 255, 200, 0.2);

  padding: 10px;
  font-family: 'Source Sans Pro', sans-serif;

  .left {
    display: inline-block;
  }

  .logo {
    font-weight: bold;
    font-size: 20px;
    vertical-align: middle;
    color: white;
    text-shadow: 0 1px 1px $top_bar_text_shadow;
  }

  .menus {
    display: inline-block;
    vertical-align: middle;
    margin-left: 30px;
  }

  .menuTitle {
    position: relative;
    z-index: 999;
    cursor: default;
    text-shadow: 0 1px 1px rgba(130, 24, 13, 0.5);
  }

  .menu {
    position: relative;
    top: 1px;
    display: inline-block;
    margin-right: 20px;

    .menuContents {
      position: absolute;
      top: 36px;
      left: -3px;
      background: $menu_drop_back;
      list-style: none;
      margin: 0;
      padding: 0;
      border-radius: 2px;
      width: 145px;
      z-index: 5;

      display: none;
    }
  }

  .menuTitle:hover + .menuContents, .menuContents:hover {
    display: block;
  }

  .menuContents:before {
    content: ' ';
    display: block;
    width: 0;
    height: 0;
    box-sizing: border-box;
    border: 10px solid transparent;
    border-bottom-color: $menu_drop_back;
    position: absolute;
    top: -20px;
    left: 5px;
    z-index: -8;
  }

  .menuContents:after {
    content: ' ';
    display: block;
    /*noinspection CssOverwrittenProperties*/
    width: 120%; /* For older browsers */
    /*noinspection CssOverwrittenProperties*/
    height: 130%;
    /*noinspection CssOverwrittenProperties*/
    width: calc(100% + 20px);
    /*noinspection CssOverwrittenProperties*/
    height: calc(100% + 40px);
    position: absolute;
    top: -30px;
    left: -10px;
    z-index: -1;
  }

  .menuContents li {
    padding: 10px 20px;
    cursor: pointer;
    color: $menu_drop_text;
  }

  .menuContents li:first-of-type {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
  }

  .menuContents li:last-of-type {
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
  }

  .menuContents li:hover {
    background: $menu_drop_hover;
  }
}