{% extends "base.html" %}
{% load staticfiles %}

{% block morescripts %}
    <script src='{% static "js/cssjson.js" %}'></script>
    <script>
        var original = {
              "children": {
                "@media (max-width: 800px)": {
                  "children": {
                    "#main #comments": {
                      "children": {},
                      "attributes": {
                        "margin": "0px",
                        "width": "auto",
                        "background": "red"
                      }
                    },
                    "#main #buttons": {
                      "children": {},
                      "attributes": {
                        "padding": "5px 10px",
                        "color": "blue"
                      }
                    }
                  },
                  "attributes": {}
                },
                "#main #content": {
                  "children": {},
                  "attributes": {
                    "margin": "0 7.6%",
                    "width": "auto"
                  }
                },
                "#nav-below": {
                  "children": {},
                  "attributes": {
                    "border-bottom": "1px solid #ddd",
                    "margin-bottom": "1.625em",
                    "background-image": "url(http://www.example.com/images/im.jpg)"
                  }
                }
              },
              "attributes": {}
            };
        var css = CSSJSON.toCSS(original);
        console.log(css);
        var json = CSSJSON.toJSON(css);
        console.log(json);
    </script>
{% endblock %}

{% block content %}
	POC pages
{% endblock %}