{% extends "base.html" %}
{% load staticfiles %}

{% block morescripts %}
    <script src='{% static "js/htmlparser.js" %}'></script>
    <script src='{% static "js/htmljson.js" %}'></script>
    <script src='{% static "js/cssjson.js" %}'></script>
    <script>

        var originalJSON = {
          tag: 'div',
          x: 10,
          y: 15,
          attr: {
            id: '1',
            class: ['foo']
          },
          child: [
              {
                tag: 'h2',
                text: 'sample text with <code>inline tag</code>'
              },{
                tag: 'pre',
                attr: {
                  id: 'demo',
                  class: ['foo', 'bar']
                }
              },{
                tag: 'pre',
                attr: {
                  id: 'output',
                  class: ['goo']
                }
              },{
                tag: 'input',
                attr: {
                  id: 'execute',
                  type: 'button',
                  value: 'execute'
                }
              }
          ]
        };
        newHTML = json2html(originalJSON);
        console.log(newHTML);
        

        var original = {
          "children": {
            "@media (max-width: 800px)": {
              "children": {
                "#main #comments": {
                  "children": {},
                  "attributes": {
                    "margin": "0px",
                    "width": "auto",
                    "background": "red"
                  }
                },
                "#main #buttons": {
                  "children": {},
                  "attributes": {
                    "padding": "5px 10px",
                    "color": "blue"
                  }
                }
              },
              "attributes": {}
            },
            "#main #content": {
              "children": {},
              "attributes": {
                "margin": "0 7.6%",
                "width": "auto"
              }
            },
            "#nav-below": {
              "children": {},
              "attributes": {
                "border-bottom": "1px solid #ddd",
                "margin-bottom": "1.625em",
                "background-image": "url(http://www.example.com/images/im.jpg)"
              }
            }
          },
          "attributes": {}
        };

        var css = CSSJSON.toCSS(original);
        var json = CSSJSON.toJSON(css);
    </script>
{% endblock %}

{% block content %}
	POC pages
{% endblock %}