{% extends "base.html" %}
{% load staticfiles %}

{% block morescripts %}
    <link rel="stylesheet" href="{% static 'style.css' %}" />
{% endblock %}

{% block content %}
	<div class="box shadow centered">
		<div class="upper seafoam">
			<h1 class="white">{{ user.username }}</h1>
			<div style="float:right; margin-top:27px">User</div>
		</div>
		<div class="pane1 about">
			<div class="inner-head">
				<h3>About Me</h3>
				<div>things.</div>
				<h3>What I'm Working On</h3>
				<div>things</div>
			</div>
		</div>
		<div class="pane2 about">
			<div class="inner-head">
				<h3>Featured Creation</h3>
				<a href="#"><img src="http://ipex.pw/internalpx/perm/embed/elemental/project_base_icon.png"></a>
				<div style="margin-left:auto;margin-right:auto;display:table;">
					<a>Project</a>
				</div>
			</div>
		</div>
	</div>
	<div class="row box shadow centered">
		<h3>Shared Creations
			<div class="inline float-right see-all see-all-projects">
				<a>See All</a>
			</div>
		</h3>
		<div>
			{% for project in projects %}
				<ul class="userpage-shared-section-carousel">
					<li>
						<a href="https://elementalcode.herokuapp.com/projects/1">
							<img src="http://ipex.pw/internalpx/perm/embed/elemental/project_base_icon.png">
						</a><br>
						<a href="https://elementalcode.herokuapp.com/projects/1">{{ project.name }}</a>
					</li>
				</ul>
			{% endfor %}
		</div>
	</div>
	<div class="row box shadow centered">
		<h3>Favorite Creations
			<div class="inline float-right see-all see-all-favorites">
				<a>See All</a>
			</div>
		</h3>
		<div>
			<ul class="userpage-favorite-section-carousel">
				<li>
					<a href="https://elementalcode.herokuapp.com/projects/1">
						<img src="http://ipex.pw/internalpx/perm/embed/elemental/project_base_icon.png">
					</a><br>
					<a href="https://elementalcode.herokuapp.com/projects/1">Project</a>
				</li>
			</ul>
		</div>
	</div>
	<div class="row box shadow centered">
		<h3>Following
			<div class="inline float-right see-all see-all-following">
				<a>See All</a>
			</div>		
		</h3>
		<div>
			<ul class="userpage-following-section-carousel user-icons">
				<li>
					<a href="https://elementalcode.herokuapp.com/users/Dylan">
						<img src="http://ipex.pw/internalpx/perm/embed/elemental/user-icons-static/d.png">
					</a><br>
					<a href="https://elementalcode.herokuapp.com/users/Dylan">Dylan</a>
				</li>
			</ul>
		</div>
	</div>
	<div class="row box shadow centered">
		<h3>Followers
			<div class="inline float-right see-all see-all-followers">
				<a>See All</a>
			</div>	
		</h3>
		<div>
			<ul class="userpage-followers-section-carousel user-icons">
				<li>
					<a href="https://elementalcode.herokuapp.com/users/Dylan">
						<img src="http://ipex.pw/internalpx/perm/embed/elemental/user-icons-static/d.png">
					</a><br>
					<a href="https://elementalcode.herokuapp.com/users/Dylan">Dylan</a>
				</li>
			</ul>
		</div>
	</div>
{% endblock %}

{% block extra_scripts %}
<script>
var ProjectsCount = {{ projects.count }};
var FavoritesCount = 1;
var FollowingCount = 1;
var FollowersCount = 1;

function get_first(name) { return document.getElementsByClassName(name)[0]; }

function set_width(object, count, emptymessage, imgsize) {
	if (count > 4) {
		object.style.width = ((imgsize + 18) * count) + "px";
	} else if (count > 0) {
		object.style.width = "710px";
	} else {
		object.parentNode.innerHTML = "<div style='background-color:#C7E1D9;width:700px;height:100px;padding-top:50px;margin:auto;margin-top:20px;border-radius:20px;text-align:center;'>" + emptymessage.replace('%user', {{ user.username }}) + "</div>";
	}
}

var project_carousel = get_first("userpage-shared-section-carousel");
var favorite_carousel = get_first("userpage-favorite-section-carousel");
var following_carousel = get_first("userpage-following-section-carousel");
var followers_carousel = get_first("userpage-followers-section-carousel");

set_width(project_carousel, ProjectsCount, "%user has not shared any creations yet.", 160)
set_width(favorite_carousel, FavoritesCount, "%user has not favorited any creations yet.", 160)
set_width(following_carousel, FollowingCount, "%user is not following anyone yet.", 120)
set_width(followers_carousel, FollowersCount, "Nobody is following %user yet.", 120)
</script>
{% endblock %}