{% extends "base.html" %}
{% load addcss %}

{% block title %}Register | {% endblock %}
{% block content %}
    <div class="form-box">
        <h3>Sign Up</h3>
        <form method="POST">
            {% csrf_token %}
            <input class="form-input" id="id_username" name="username" placeholder="Username" type="text">
            <input class="form-input" id="id_password1" name="password1" type="password" placeholder="Password">
            <input class="form-input" id="id_password2" name="password2" type="password" placeholder="Confirm password">
            <input type="submit" class="submit-button">
        </form>
    </div>
{% endblock %}