@import url(http://fonts.googleapis.com/css?family=Source+Code+Pro:400,700);
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700);
body {
  background-color: gray; }

.scriptingArea,
.draggy,
.blockArea {
  font-family: 'Source Code Pro';
  color: white;
  white-space: nowrap;
  /* Don't let text to "wrap" to a new line (blocks would look ugly that way) */
  -webkit-user-select: none;
  /* Chrome all / Safari all */
  -moz-user-select: none;
  /* Firefox all */
  -ms-user-select: none;
  /* IE 10+ */
  user-select: none;
  /* Likely future */
  cursor: default; }

.draggy {
  position: absolute;
  z-index: 999;
  padding: 0;
  margin: 0; }

.script-input {
  font-family: 'Source Code Pro';
  padding: 0 5px;
  min-width: 25px;
  min-height: 20px;
  border-radius: 999px;
  border: none;
  outline: none;
  background-color: white;
  color: black;
  display: inline-block;
  text-align: center;
  cursor: text;
  z-index: 100; }

.hat {
  display: table;
  /* Using "block" would result in 100% width, and "inline-block" would result in everything on same line */
  background: #C6E44D;
  padding: 5px 10px;
  position: relative;
  border-radius: 0px 5px 5px 0px; }

.hat:after {
  background: #C6E44D;
  display: block;
  content: ' ';
  width: 80%;
  height: 100%;
  position: absolute;
  top: -45%;
  left: 0px;
  border-radius: 50%;
  z-index: -1; }

.stack {
  display: table;
  background: #914DE4;
  padding: 5px 10px;
  position: relative;
  border-radius: 5px;
  /*border-left: 1px solid #A9A9A9;*/
  /* Replacing borders with box-shadows allows curving around border-radius */
  box-shadow: -1px 0px 0px #A9A9A9; }

.scriptingArea * + .stack,
.scriptingArea * + .c-wrapper > .c-header {
  border-top-left-radius: 0px; }
.scriptingArea .stack:not(:last-child),
.scriptingArea .c-wrapper:not(:first-child) > .c-header,
.scriptingArea .c-wrapper:not(:last-child) > .c-footer {
  border-bottom-left-radius: 0px; }

.c-wrapper {
  padding: 0px;
  display: table;
  /*border-left: 1px solid #A9A9A9;*/ }

.c-header,
.c-footer {
  display: table;
  background: #E44D4D;
  padding: 5px 10px;
  position: relative;
  border-radius: 5px;
  min-width: 40px;
  min-height: 18px; }

.c-header {
  border-bottom-left-radius: 0px; }

.c-footer {
  border-top-left-radius: 0px;
  margin-bottom: 1px; }

.c-content {
  background: #E44D4D;
  padding: 6px 0px 6px 25px;
  margin: -6px 0px -6px 0px;
  width: 4px;
  overflow-x: visible;
  min-height: 30px;
  position: relative;
  /* For z-index (appear on top of .c-header, which in turn puts it on top of the extra border-bottom when attaching a block) */
  box-shadow: -1px 0px 0px #A9A9A9; }

.c-header {
  box-shadow: -1px -1px 0px #A9A9A9; }

.c-footer {
  box-shadow: -1px 1px 0px #A9A9A9; }

.drop-area {
  border-bottom: 5px solid white; }

.c-wrapper.zebra > li, .c-wrapper.zebra > ul {
  background: #F45D5D; }

.remove-attr {
  display: inline-block;
  width: 0px;
  height: 0px;
  border: 7px solid transparent;
  border-right-color: black;
  margin-left: -4px;
  margin-right: 2px;
  cursor: pointer; }

.add-attr {
  display: inline-block;
  width: 0px;
  height: 0px;
  border: 7px solid transparent;
  border-left-color: black;
  margin-left: 2px;
  margin-right: -4px;
  cursor: pointer; }

.attr-holder {
  background-color: orange;
  border-radius: 10px;
  box-sizing: border-box;
  display: inline-block;
  padding: 3px;
  margin-right: 6px; }
  .attr-holder .attr-dropdown,
  .attr-holder .attr-input {
    border-radius: 10px;
    min-width: 30px;
    display: inline-block;
    margin: 0px 3px;
    padding: 0px 4px;
    outline: none; }
    .attr-holder .attr-dropdown:empty,
    .attr-holder .attr-input:empty {
      content: ' '; }
  .attr-holder .attr-input {
    background-color: white;
    color: black; }
  .attr-holder .attr-dropdown {
    background-color: white;
    color: black;
    cursor: text; }

.context-menu {
  position: absolute;
  font-family: 'Source Sans Pro', sans-serif;
  z-index: 1000;
  background-color: white;
  box-sizing: border-box;
  border: 3px solid gray;
  border-radius: 10px;
  display: none;
  min-width: 150px; }
  .context-menu .menu-item {
    padding: 5px;
    cursor: pointer; }
    .context-menu .menu-item:hover {
      color: white;
      background-color: gray; }

.attributeDropdown {
  position: absolute;
  border-radius: 10px;
  background-color: #63B9D6;
  z-index: 100;
  overflow: hidden;
  width: 200px;
  height: 200px; }

.searchContainer {
  padding: 3px 0px;
  text-align: center; }

.inlineSearch {
  display: block;
  margin: 3px auto;
  border: none;
  border-radius: 999px;
  padding: 4px;
  text-indent: 24px;
  background-image: url(../img/nav-search-glass.png);
  background-repeat: no-repeat;
  background-position: 8px 4px;
  outline: none;
  width: calc(100% - 22px); }

.scroll-up, .scroll-down {
  background: #399CBD;
  height: 20px;
  text-align: center; }

.scroll-up:hover, .scroll-down:hover {
  background: #1B7D9E; }

.scroll-down {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%; }

.upArrow {
  display: inline-block;
  border: 9px solid transparent;
  border-bottom-color: white;
  position: relative;
  bottom: 3px; }

.downArrow {
  display: inline-block;
  border: 9px solid transparent;
  border-top-color: white;
  position: relative;
  top: 5px; }

.attribute-results {
  list-style: none;
  padding: 0;
  margin: 0;
  color: white;
  font-family: 'Source Sans Pro', sans-serif; }

.attribute-results li {
  padding: 2px 8px;
  cursor: pointer; }

.attribute-results li:hover {
  background: rgba(255, 255, 255, 0.2); }

.fake-hidden {
  position: absolute;
  top: -9999px;
  left: -9999px;
  opacity: 0; }

.hidden {
  display: none; }

body {
  margin: 0px;
  overflow: hidden; 
  -webkit-user-select: none;
  /* Chrome all / Safari all */
  -moz-user-select: none;
  /* Firefox all */
  -ms-user-select: none;
  /* IE 10+ */
  user-select: none;
  /* Likely future */}

html, body {
  height: 100%; }

.scriptingArea {
  height: calc(100% - 200px - 12px);
  min-width: 100%;
  overflow: auto;
  position: relative;
  background: linear-gradient(rgba(68, 76, 84, 0.6), rgba(68, 76, 84, 0.6)), url("../img/diagonalTexture.png");
  z-index: 1; }

.topBar {
  /* Monster Gradient: */
  background: #42BA92;
  color: #efefef;
  font-family: 'Source Sans Pro', sans-serif;
  padding: 15px 24px;
  position: relative;
  z-index: 999; }

.left {
  display: inline-block; }

.logo {
  color: white;
  font-size: 20px;
  font-weight: bold;
  vertical-align: middle; }

.menus {
  display: inline-block;
  margin-left: 30px;
  vertical-align: middle; }

.menu {
  display: inline-block;
  margin-right: 20px;
  position: relative;
  top: 1px; }

.menuTitle:hover + .menuContents, .menuContents:hover {
  display: block; }

.menuTitle {
  cursor: default;
  position: relative;
  z-index: 999; }

.menuContents {
  background: #fff;
  border-radius: 3px;
  display: none;
  left: 0px;
  list-style: none;
  margin: 0px;
  padding: 0px;
  position: absolute;
  top: 30px;
  width: 145px;
  z-index: 5;
  border: 1px solid #252E35; }

.menuContents:before {
  background: #fff;
  content: ' ';
  display: block;
  width: 12px;
  height: 12px;
  left: 5px;
  position: absolute;
  top: -7px;
  z-index: -8;
  border: 1px solid #252E35;
  border-bottom-color: transparent;
  border-right-color: transparent;
  -ms-transform: rotate(45deg);
  /* IE 9 */
  -webkit-transform: rotate(45deg);
  /* Chrome, Safari, Opera */
  transform: rotate(45deg); }

.menuContents:after {
  content: ' ';
  display: block;
  height: 130%;
  height: calc(100% + 40px);
  left: -10px;
  position: absolute;
  top: -30px;
  width: 120%;
  /* For older browsers */
  width: calc(100% + 20px);
  z-index: -1; }

.menuContents li {
  color: #333;
  cursor: pointer;
  padding: 10px 20px; }

.menuContents li:first-of-type {
  border-top-left-radius: 2px;
  border-top-right-radius: 2px; }

.menuContents li:last-of-type {
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px; }

.menuContents li:hover {
  background: #58B2C8; }

.mainArea {
  align-content: stretch;
  display: flex;
  height: calc(100% - 45px); }

.leftSide {
  border-right: 4px solid #252E35;
  box-sizing: border-box;
  flex: 0 0 400px;
  height: 100%;
  max-width: 100%;
  overflow-x: hidden; }
  .leftSide .pagePreview {
    height: calc(100% - 200px); }
    .leftSide .pagePreview .previewBody {
      background: white;
      height: 100%;
      width: 100%;
      border: none; }
  .leftSide .filePane {
    height: 200px;
    background-color: white;
    box-sizing: border-box;
    border-top: 5px solid #BFBFBF;
    padding: 5px;
    overflow-y: scroll; }
    .leftSide .filePane .file,
    .leftSide .filePane .add-file {
      width: 100px;
      height: 100px;
      border: 4px solid #BFBFBF;
      border-radius: 3px;
      display: inline-block;
      text-align: center;
      margin: 0px;
      margin-right: 10px;
      margin-bottom: 10px; }
    .leftSide .filePane .file-name {
      position: relative;
      top: 50%;
      transform: translateY(-50%);
      font-family: 'Source Sans Pro', sans-serif; }
    .leftSide .filePane .file.selected {
      border-color: #989898; }

.rightSide {
  flex-grow: 1;
  flex-shrink: 1;
  height: 100%;
  width: 100%; }
  .rightSide .upperArea {
    border-bottom: 2px solid #252E35;
    display: flex;
    height: 200px;
    width: 100%; }

.upperArea .paletteSelect {
  background: #444C54;
  border-right: 2px solid #252E35;
  flex: 0 0 250px;
  overflow-y: auto;
  padding: 20px; }

.upperArea .allBlocks {
  background: #444C54;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  position: relative;
  /* For child positioning (absolute) */
  width: 100%; }

.paletteColumn {
  width: 83px;
  margin: 0px 15px;
  padding: 0px;
  text-align: left;
  display: inline-block;
  position: relative;
  left: -3px; }
  .paletteColumn .paletteOptionWrap:last-of-type {
    margin-bottom: 0px; }

.paletteOptionWrap {
  display: inline-block;
  border: 1px solid #505E77;
  /* Massive gradient code: */
  background: white;
  border-radius: 999px;
  padding: 3px 12px;
  font-family: 'Source Sans Pro', sans-serif;
  cursor: pointer;
  width: 100%;
  margin-bottom: 15px;
  position: relative; }
  .paletteOptionWrap input[type=radio] {
    display: none; }

.paletteColorIndicator {
  display: block;
  width: 20px;
  height: 20px;
  background: #de2a33;
  position: absolute;
  top: 3px;
  right: 4px;
  border-radius: 999px; }

.paletteColorIndicator:after {
  content: ' ';
  display: none;
  width: 20px;
  height: 26px;
  background: -moz-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.12) 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, transparent), color-stop(100%, rgba(0, 0, 0, 0.12)));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.12) 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.12) 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.12) 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.12) 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#1f000000',GradientType=0 );
  /* IE6-9 */
  position: absolute;
  top: 0px;
  right: 0px;
  border-radius: 0px 999px 999px 0px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-left-color: transparent; }

.paletteOptionWrap:hover {
  box-shadow: 0 1px 2px transparent; }

#searchBar {
  position: absolute;
  top: 0px;
  right: 57px;
  border-radius: 0px 0px 5px 5px;
  border: 1px solid #252E35;
  border-top: none;
  outline: none;
  padding: 8px 10px 8px 26px;
  background-image: url("../img/nav-search-glass.png");
  background-repeat: no-repeat;
  background-position: 8px 9px;
  cursor: pointer;
  width: 0px;
  padding-right: 4px;
  opacity: 0.7;
  transition: width 0.2s, padding 0.2s; }

#searchBar:hover, #searchBar:focus {
  opacity: 1; }

#searchBar:focus {
  cursor: auto;
  width: 170px; }

.infoText {
  color: #ddd;
  font-family: 'Source Code Pro', sans-serif; }

.upperArea .allBlocks .blockArea {
  /*display: flex;
  flex-direction: column;
  flex-wrap: wrap;*/
  height: 100%;
  height: calc(100% - 64px);
  overflow-x: hidden;
  overflow-y: auto;
  justify-content: flex-start;
  padding: 32px; }
  .upperArea .allBlocks .blockArea .stack, .upperArea .allBlocks .blockArea .c-wrapper {
    margin: 6px 0px; }

.trashCan {
  display: block;
  position: fixed;
  bottom: 10px;
  right: 20px;
  width: 70px;
  height: 90px;
  z-index: 800;
  background-image: url("../img/trash_closed.png");
  cursor: default; }
  .trashCan:hover, .trashCan.hovering {
    background-image: url("../img/trash_open.png"); }

@media (max-width: 450px) {
  .advanceWrap {
    display: none; } }

/*# sourceMappingURL=style.css.map */
