{% load footer %}
<div class="darkBack footerContainer">
    <div class="centered">
        <div class="footer">
            <div><a href="#" class="footerLink">About</a></div>
            <div><a href="#" class="footerLink">Help</a></div>
            <div><a href="#" class="footerLink">Privacy</a></div>
            <div><a href="#" class="footerLink">Contact</a></div>
        </div>
        <!--removing this temporarily...<div class="white raleway aligncenter ">
    		{% footer %}
    	</div>-->
    </div>
</div>