@import url(http://fonts.googleapis.com/css?family=Raleway:400,700,900,300);

body {
    background-color: #fff /*#252E35*/;
    font-family: Raleway;
}
        
img {
    border-radius: 3px;
}
        
.userpage-top-section, .userpage-favorite-section, .userpage-shared-section {
    background-color: #fff;
    box-shadow: 0 0 30px #888 /*0 0 5px #000*/;
    border-radius: 5px;
    width: 750px;
    margin: auto;
    margin-top:40px;
}
        
.userpage-top-section {
    height:400px;
}
       
.userpage-upper {
    background-color: #42BA92;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding-left: 15px;
}
        
.userpage-upper h2, .userpage-upper div {
    display: inline-block;
}
        
.userpage-upper h2 {
    font-size: 1.8em;
}
        
.userpage-upper div {
    font-size: 1.3em;
    margin-left: 480px;
}

.userpage-about-me, .userpage-featured {
    display: inline-flex;
    padding-left: 30px;
    padding-right: 30px;
    height: 350px;
    width: 300px;
}
        
.userpage-about-me div, .userpage-featured div{
    width: 360px;
    height: 240px;
}
        
.userpage-shared-section, .userpage-favorite-section {
    height: 220px;
    padding-top: 8px;
}

.userpage-favorite-section {
    margin-bottom: 40px;
}
        
.userpage-shared-section div, .userpage-favorite-section div {
    margin-top:-22px;
    overflow-x:auto;
    overflow-y:hidden;
}
        
.userpage-favorite-section h3, .userpage-shared-section h3 {
    margin-left: 30px;
}
        
.userpage-shared-section img, .userpage-favorite-section img {
    height:120px;
    width:160px;
}
        
.userpage-shared-section ul, .userpage-favorite-section ul {
    width:2170px;
}
        
.userpage-shared-section ul li, .userpage-favorite-section ul li {
    display:inline-block;
    margin-left:-14px;
    margin-right:31px;
}