{% extends "base.html" %}
{% load staticfiles %}

{% block morescripts %}
    <script src="{% static 'js/vendor/axios.min.js' %}"></script>
    <!--<script src="{% static 'js/components/newsfeed.js' %}"></script>-->
{% endblock %}

{% block content %}
	<div class="main-content">
		<div class="box shadow centered">
			<div class="upper seafoam">
				<h1 class="white">ElementalCode</h2>
			</div>
			{% if not request.user.is_authenticated %}
			<div class="box-smaller text--center top-description">
				<h3>Learn to develop on the web, with an easy drag-and-drop interface.</h3>
				<div class="full--width">
					<!-- sorry, it will wrap if you move these on to seperate lines :P -->
					<div class="one-third grid inline-block border-left"><h4>Create</h4><img src="{% static 'resources/front-about-code.png' %}"></div><div class="one-third grid inline-block border-left"><h4>Share</h4><img src="{% static 'resources/front-about-share.png' %}"></div><div class="one-third grid inline-block border-left"><h4>Learn</h4><img src="{% static 'resources/front-about-learn.png' %}"></div>
				</div>
			</div>
			{% endif %}
			<div class="pane1 about">
				<div class="inner-head">
					<h3>Elemental Blog</h3>
					<div></div>
				</div>
			</div>
			<div class="pane2 about">
				<div class="inner-head">
					<h3>{% if request.user.is_authenticated %}What's Happening?{% else %}Login{% endif %}</h3>
					{% if request.user.is_authenticated %}
						<div>My Feed.</div>
					{% else %}
						<form method="POST" class="login-form">
							{% csrf_token %}
							<input id="id_username" class="frontpage-login-input" name="username" type="text" placeholder="Username">
							<input id="id_password" class="frontpage-login-input" name="password" type="password" placeholder="Password">
							<div>
								<div>
									<button class="block frontpage-login-button">Log In</button>
								</div>
								<span class="block smalltext">Don't have an account?  <a href="{% url 'accounts:register' %}">Register now!</a></span>
							</div>
						</form>
					{% endif %}
				</div>
			</div>
		</div>
		<div class="row box shadow centered">
			<h3>Featured Projects
				<div class="inline float-right see-all see-all-projects">
					<a>See All</a>
				</div>
			</h3>
			<div>
				<ul class="userpage-shared-section-carousel">
				</ul>
			</div>
		</div>
		<div class="row box shadow centered">
			<h3>Featured Galleries
				<div class="inline float-right see-all see-all-favorites">
					<a>See All</a>
				</div>
			</h3>
			<div>
				<ul class="userpage-favorite-section-carousel">
				</ul>
			</div>
		</div>
		<div class="row box shadow centered">
			<h3>What's Popular?
				<div class="inline float-right see-all see-all-following">
					<a>See All</a>
				</div>		
			</h3>
			<div>
				<ul class="userpage-following-section-carousel">
				</ul>
			</div>
		</div>
		<div class="row box shadow centered">
			<h3>What's New?
				<div class="inline float-right see-all see-all-followers">
					<a>See All</a>
				</div>	
			</h3>
			<div>
				<ul class="userpage-followers-section-carousel">
				</ul>
			</div>
		</div>
	</div>
{% endblock %}

{% block extra_scripts %}
{% endblock %}
