{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
    <div class="grid centered-large push-half--top">
        <div class="section section-tall">
            <div class="{% if request.user.is_authenticated %}half{% else %}three-fourth{% endif %} inline-block subsection pull--left">
                Sorry, this page is under construction.  However, feel free register and create projects!
                Updates and news regarding Elemental will go here later.
            </div><div class="{% if request.user.is_authenticated %}half{% else %}one-fourth{% endif %} inline-block subsection pull--right">
                {% if request.user.is_authenticated %}
                    user feed goes here
                {% else %}
                    <form method="POST">
                        {% csrf_token %}
                        <input id="id_username" name="username" type="text" placeholder="Username">
                        <input id="id_password" name="password" type="password" placeholder="Password">
                        <button>Log In</button>
                    </form>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}