.grid {
    .half {
        width: 50%;
    }
    .one-third {
        width: 33%;
    }
    .one-fourth {
        width: 25%;
    }
    .three-fourth {
        width: 75%;
    }
    .one-fifth {
        width: 20%;
    }
}