/*
Error: Undefined variable: "$base-spacing-unit".
        on line 13 of C:/Users/Dylanx/Desktop/Elemental/elemental/elemental/static/helpers.scss

8: // FLOATS
9: .pull--left  { float: left!important; }
10: .pull--right { float: right!important; }
11: 
12: // PADDING AND MARGIN
13: .pad           { padding:       $base-spacing-unit!important; }
14: .pad--top      { padding-top:   $base-spacing-unit!important; }
15: .pad--right    { padding-right: $base-spacing-unit!important; }
16: .pad--bottom   { padding-bottom:$base-spacing-unit!important; }
17: .pad--left     { padding-left:  $base-spacing-unit!important; }
18: .pad--ends     { padding-top:   $base-spacing-unit!important; padding-bottom:$base-spacing-unit!important; }

Backtrace:
C:/Users/Dylanx/Desktop/Elemental/elemental/elemental/static/helpers.scss:13
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.21/lib/sass/script/tree/variable.rb:49:in `_perform'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.21/lib/sass/script/tree/node.rb:50:in `perform'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.21/lib/sass/script/tree/list_literal.rb:63:in `block in _perform'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.21/lib/sass/script/tree/list_literal.rb:63:in `map'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.21/lib/sass/script/tree/list_literal.rb:63:in `_perform'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.21/lib/sass/script/tree/node.rb:50:in `perform'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.21/lib/sass/tree/visitors/perform.rb:395:in `visit_prop'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.21/lib/sass/tree/visitors/base.rb:36:in `visit'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.21/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.21/lib/sass/stack.rb:79:in `block in with_base'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.21/lib/sass/stack.rb:115:in `with_frame'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.21/lib/sass/stack.rb:79:in `with_base'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.21/lib/sass/tree/visitors/perform.rb:158:in `visit'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.21/lib/sass/tree/visitors/perform.rb:431:in `block (2 levels) in visit_rule'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.21/lib/sass/tree/visitors/perform.rb:431:in `map'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.21/lib/sass/tree/visitors/perform.rb:431:in `block in visit_rule'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.21/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.21/lib/sass/tree/visitors/perform.rb:429:in `visit_rule'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.21/lib/sass/tree/visitors/base.rb:36:in `visit'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.21/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.21/lib/sass/stack.rb:79:in `block in with_base'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.21/lib/sass/stack.rb:115:in `with_frame'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.21/lib/sass/stack.rb:79:in `with_base'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.21/lib/sass/tree/visitors/perform.rb:158:in `visit'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.21/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.21/lib/sass/tree/visitors/base.rb:52:in `map'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.21/lib/sass/tree/visitors/base.rb:52:in `visit_children'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.21/lib/sass/tree/visitors/perform.rb:167:in `block in visit_children'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.21/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.21/lib/sass/tree/visitors/perform.rb:166:in `visit_children'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.21/lib/sass/tree/visitors/base.rb:36:in `block in visit'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.21/lib/sass/tree/visitors/perform.rb:186:in `visit_root'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.21/lib/sass/tree/visitors/base.rb:36:in `visit'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.21/lib/sass/tree/visitors/perform.rb:157:in `visit'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.21/lib/sass/tree/visitors/perform.rb:8:in `visit'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.21/lib/sass/tree/root_node.rb:36:in `css_tree'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.21/lib/sass/tree/root_node.rb:29:in `render_with_sourcemap'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.21/lib/sass/engine.rb:378:in `_render_with_sourcemap'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.21/lib/sass/engine.rb:295:in `render_with_sourcemap'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.21/lib/sass/plugin/compiler.rb:490:in `update_stylesheet'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.21/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.21/lib/sass/plugin/compiler.rb:209:in `each'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.21/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.21/lib/sass/plugin/compiler.rb:293:in `watch'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.21/lib/sass/plugin.rb:109:in `method_missing'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.21/lib/sass/exec/sass_scss.rb:383:in `watch_or_update'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.21/lib/sass/exec/sass_scss.rb:51:in `process_result'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.21/lib/sass/exec/base.rb:52:in `parse'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.21/lib/sass/exec/base.rb:19:in `parse!'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.21/bin/sass:13:in `<top (required)>'
C:/Ruby193/bin/sass:23:in `load'
C:/Ruby193/bin/sass:23:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Undefined variable: \"$base-spacing-unit\".\A         on line 13 of C:/Users/Dylanx/Desktop/Elemental/elemental/elemental/static/helpers.scss\A \A 8: // FLOATS\A 9: .pull--left  { float: left!important; }\A 10: .pull--right { float: right!important; }\A 11: \A 12: // PADDING AND MARGIN\A 13: .pad           { padding:       $base-spacing-unit!important; }\A 14: .pad--top      { padding-top:   $base-spacing-unit!important; }\A 15: .pad--right    { padding-right: $base-spacing-unit!important; }\A 16: .pad--bottom   { padding-bottom:$base-spacing-unit!important; }\A 17: .pad--left     { padding-left:  $base-spacing-unit!important; }\A 18: .pad--ends     { padding-top:   $base-spacing-unit!important; padding-bottom:$base-spacing-unit!important; }"; }
