@import url(https://fonts.googleapis.com/css?family=Raleway:400,700);
@import url(https://fonts.googleapis.com/css?family=Open+Sans);

// first import:
@import "variables";

// all other modules:
@import "helpers";
@import "nav";
@import "footer";
@import "grid";
@import "typography";
/*
.section {
    border: 1px solid color(seafoam);
    border-radius: 15px;
    box-sizing: border-box;
    position: relative;
    padding: 7px;
    box-sizing: border-box;
    &-tall {
        height: 200px;
    }
    .subsection {
        height: 100%;
        padding-left: 5px;
        padding-right: 5px;
        font-family: 'Open Sans', sans-serif;
        &:not(:first-child) {
            border-left: 1px solid color(seafoam);
        }
        .heading {
            border-bottom: 1px solid color(seafoam);
            padding-bottom: 7px;
            margin-bottom: 10px;
            font-size: 20px;
        }
    }
    *  {
        box-sizing: border-box;
    }
}
*/
/* begin presets */

/* < basic styling */
html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Raleway', 'sans-serif'
}

.main-content img {
    border-radius: 8px;
}

.main-content a {
    color: #0075e0;
    text-decoration: none;
    transition: color 0.25s ease-in-out;
}

.main-content a:hover {
    color: #005599;
    text-decoration: underline;
}

/* > basic styling */



/* < alignment and containers */

/* NOTE - most should be moved to helpers */


.center-align {
    text-align: center;
}

.right-align {
    text-align: right;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px 0px;
}

.row {
    border-radius: 5px;
    width: 750px;
    height: 220px;
    margin-top: 40px;
    padding-top: 1px;
}

.box {
    background-color: #fff;
    border-radius: 15px;
    width: 750px;
    margin-top: 40px;
}

.box-smaller {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #fff;
}

.upper {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    padding-left: 25px;
    padding-right: 25px;
    margin-top: 40px;
    height: 80px;
}

.about {
    display: inline-flex;
    padding-left: 30px;
    padding-right: 30px;
    height: 350px;
    width: 310px;
}

/* > alignment and containers */



/* < backgrounds */
.light-back {
    background-color: #444C54;
}

.darkBack {
    background: #252E35;
    overflow: hidden;  // keep consistent - add above or remove this line
}
/* > backgrounds*/



/* < buttons */

// still need this?

.ghostButton {
    color: white;
    text-decoration: none;
    margin-left: 20px;
    border: 2px solid white;
    padding: 10px 20px;
    border-radius: 999px;
}

.ghostButton:hover {
    /* keep wacky numbers to prevent font weight change from mattering */
    background: white;
    color: #444C54;
    font-weight: 600;
    margin-left: 19.8px;
    padding-left: 19px;
}

.lightButton {
    color: white;
    text-decoration: none;
}
/* > buttons */



/* < text */
.boxDescription {
    max-width: 180px;
    font-family: 'Raleway', sans-serif;
    background: rgba(255, 255, 255, 0.7);
    margin: 20px;
    padding: 40px;
    border-radius: 4px;
}

.boxHeader {
    font-size: 22px;
    margin: 0px;
    display: inline;
}

.boxContent {
    display: block;
    margin-top: 16px;
}

.sectionHeader {
    text-align: center;
    color: white;
    padding-top: 40px;
    margin: 0px;
    font-size: 32px;
    font-family: 'Raleway', sans-serif;
}

.sectionSubheader {
    text-align: center;
    margin: 0px;
    padding-top: 6px;
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
    color: rgba(0, 0, 0, 0.55);
}
/* > text */



/* < hero / other */
.heroWrap {
    font-family: 'Raleway', sans-serif;
    padding: 160px 0 100px 0;
    position: relative;
}

.heroLink {
    text-decoration: none;
}

.cta-hero {
    margin: 0 auto;
    margin-top: 80px;
    background: #1F8C68;
    color: white;
    text-decoration: none;
    padding: 30px;
    text-align: center;
    display: inline-block;
    border-radius: 4px;
    transition: background 0.1s ease-out;
}

.cta-hero:hover {
    background: #319E7A;
}

.cta-main {
    font-size: 28px;
    font-weight: 700;
}

.cta-sub {
    font-size: 14px;
    color: rgba(255, 255, 255, 0.6);
}
/* > hero */

/* end presets*/





/* begin header */
.nav {
    font-family: 'Raleway', sans-serif;
    display: inline;
    float: right;
    margin: 28px 15px;
}

img.logo {
    display: table;
    content: url(/static/resources/navbarimg1.png);
    margin-top: 2px;
    width: 128px;
    &:after {
        display: table;
        content: url(/static/resources/navbarimg1.png);
        margin-top: 2px;
        width: 128px;
    }
}

img.logo:hover {
    display: table;
    content: url(/static/resources/navbarimg2.png);
    margin-top: 2px;
    width: 128px;
    &:after {
        display: table;
        content: url(/static/resources/navbarimg2.png);
        margin-top: 2px;
        width: 128px;
    }
}

img.logo:hover:after {
    
}

#header {
    padding: 150px 0 100px 0;
    font-family: 'Raleway', sans-serif;
}

#title-container {
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
}

#page-title {
    margin: 0;
    color: white;
    font-size: 3.5em;
}

#page-description {
    margin: 0;
    font-size: 2em;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.5);
}
/* end header*/





/* begin description */
.description-icon {
    float: right;
}

.top-description div {
    background-color: coral;
}

div.top-description {
    background-color: coral;
}

.top-description img {
    width: 80px;
    display: table;
    margin: auto;
    padding: 15px;
}
/* end description */





/* begin news feed */
.news-post a {
    transition: color 0.2s ease-in-out;
    margin-top: 0px;
    margin-bottom: 0px;
    text-decoration: none;
    color: #25aff4;
}

.news-post a:hover {
    margin-top: 0px;
    margin-bottom: 0px;
    text-decoration: none;
    color: #456fb4;
}


.news-post div {
    line-height: 15px;
    padding-top: 5px;
    overflow: hidden;
    height: 21px;
}

.news-post {
    border-top: 1px solid rgba(100, 100, 100, 0.3);
    padding-bottom: 3.5px;
    padding-top: 3.5px;
}

.first-news-post {
    border-top: none; 
    margin-top: -10px;
}

/* end news feed */





/* begin team */
.teamIcon {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    padding: 0;
    border: none;
}

.teamIcon:hover {
    box-shadow: 0 0 8px 3px rgba(50, 50, 50, 0.75);
}

.teamMember {
    text-align: center;
    font-family: 'Raleway', sans-serif;
    margin: 40px;
}

.member-name {
    margin-top: 2px;
    font-family: sans-serif;
    color: #252e35;
}

.member-name:hover {
}
/* end team*/






/* begin form helpers */

.form-box h3 {
    margin-top: 10px;
    font-size: 35px;
    color: #444c54;
}

.form-box {
    max-width: 400px;
    margin: 0 auto;
    padding: 40px;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    background: rgba(255, 255, 255, 0.7);
    border: 1px solid #c8c8c8;
    border-radius: 4px;
}

.form-input {
    width: 100%;
    display: block;
    padding: 10px;
    font-size: 14px;
    line-height: 17px;
    margin: 10px auto;
    border-radius: 8px;
    background: white;
    margin-left: -8px;
    border: 1px solid #d9d9de;
    color: #0f2105;
}

.submit-button {
    border: none;
    font-size: 20px;
    font-weight: 700;
    background-color: #1F8C68;
    color: white;
    padding: 10px;
    border-radius: 4px;
    transition: background 0.1s ease-out;
    margin-top: 20px;
}

.submit-button:hover {
    background: #319E7A;
    cursor: pointer;
}

.frontpage-login-input {
    width: 100%;
    display: block;
    padding: 10px;
    font-size: 14px;
    line-height: 17px;
    border-radius: 6px;
    margin: 10px auto;
    border-radius: 8px;
    background: white;
    border: 1px solid #d9d9de;
    color: #0f2105;
}
.frontpage-login-button {
    border: none;
    background-color: #42BA92;
    color: white;
    border-radius: 4px;
    transition: background 0.1s ease-out;
    cursor: pointer;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 10px;
}
/* end form helpers */





/* begin login & sign up header */
#small-header {
    font-family: 'Raleway', sans-serif;
    overflow: hidden;
}

#small-header-title {
    margin: 10px 0 10px 5px;
    float: left;
    color: white;
    font-size: 3em;
}

#small-header-title a {
    color: white;
    text-decoration: none;
}

/* scale down to prevent wrapping */
@media(max-width: 480px) {
    #small-header {
        font-size: 15px;
    }

    #small-header-title {
        margin-top: 20px;
        margin-bottom: 19px;
        font-size: 1.9em;
    }
}
/* end login & sign up header */


/* specific tags within classes */

.upper h1 {
    display: inline-block;
}

.upper div {
    display: inline-block;
    font-size: 1.3em;
}

.pane1 .inner-head div {
    word-wrap: break-word;
    width: 100%;
    height: 95px;
    overflow: auto
}

.pane1 {
    border-right: 1px solid #DFDFDF;
}

.pane2 img {
    width: 310px
}

.row div {
    margin-top: -22px;
    overflow-x: auto;
    overflow-y: hidden;
}

.row h3 {
    margin-left: 30px;
}

.row img {
    border: 1px solid rgba(0, 0, 0, 0.2);
    height: 120px;
    width: 160px;
}

.row ul {
    overflow: auto;
    margin-left: -12px;
}

.row ul li {
    display: inline-block;
    margin-right: 15.5px;
}

.user-icons img {
    width: 120px;
    height: 120px;
}

.see-all {
    padding-top: 18px;
    padding-right: 20px;
}


/* begin privacy agreement */
#privacy-agreement {
    max-width: 960px;
    margin: 20px auto;
    color: #3d3d3d;
    font-family: 'Raleway', sans-serif;
}
/* end privacy agreement*/


/* begin dylan5797's helpers (should be moved to helpers.scss later)*/

.centered {
    margin-left: auto;
    margin-right: auto;
}

.shadow {
    box-shadow: 0 0 30px #888;
}

.dark-shadow {
    box-shadow: 0 0 5px #000;
}

.seafoam {
    background-color: #42BA92;
}

.white {
    color: #fff;
}

.inline {
    color: #fff;
}

.float-right {
    float: right;
}

.float-left {
    float: left;
}

/* end dylan5797's helpers */

/* __init__'s stuff */
.white {
  color: white;
}

.aligncenter {
  text-align: center;
}
