@import url(https://fonts.googleapis.com/css?family=Raleway);
@import url(https://fonts.googleapis.com/css?family=Open+Sans);
.vertically-center-single {
  position: relative;
  top: 50%;
  transform: translateY(-50%); }

.pull--left {
  float: left !important; }

.pull--right {
  float: right !important; }

.pad {
  padding: 35px !important; }

.pad--top {
  padding-top: 35px !important; }

.pad--right {
  padding-right: 35px !important; }

.pad--bottom {
  padding-bottom: 35px !important; }

.pad--left {
  padding-left: 35px !important; }

.pad--ends {
  padding-top: 35px !important;
  padding-bottom: 35px !important; }

.pad--sides {
  padding-right: 35px !important;
  padding-left: 35px !important; }

.pad-double {
  padding: 70px !important; }

.pad-double--top {
  padding-top: 70px !important; }

.pad-double--right {
  padding-right: 70px !important; }

.pad-double--bottom {
  padding-bottom: 70px !important; }

.pad-double--left {
  padding-left: 70px !important; }

.pad-double--ends {
  padding-top: 70px !important;
  padding-bottom: 70px !important; }

.pad-double--sides {
  padding-right: 70px !important;
  padding-left: 70px !important; }

.pad-half {
  padding: 17.5px !important; }

.pad-half--top {
  padding-top: 17.5px !important; }

.pad-half--right {
  padding-right: 17.5px !important; }

.pad-half--bottom {
  padding-bottom: 17.5px !important; }

.pad-half--left {
  padding-left: 17.5px !important; }

.pad-half--ends {
  padding-top: 17.5px !important;
  padding-bottom: 17.5px !important; }

.pad-half--sides {
  padding-right: 17.5px !important;
  padding-left: 17.5px !important; }

.push-double {
  margin: 70px !important; }

.push-double--top {
  margin-top: 70px !important; }

.push-double--right {
  margin-right: 70px !important; }

.push-double--bottom {
  margin-bottom: 70px !important; }

.push-double--left {
  margin-left: 70px !important; }

.push-double--ends {
  margin-top: 70px !important;
  margin-bottom: 70px !important; }

.push-double--sides {
  margin-right: 70px !important;
  margin-left: 70px !important; }

.push {
  margin: 35px !important; }

.push--top {
  margin-top: 35px !important; }

.push--right {
  margin-right: 35px !important; }

.push--bottom {
  margin-bottom: 35px !important; }

.push--left {
  margin-left: 35px !important; }

.push--ends {
  margin-top: 35px !important;
  margin-bottom: 35px !important; }

.push--sides {
  margin-right: 35px !important;
  margin-left: 35px !important; }

.push-half {
  margin: 17.5px !important; }

.push-half--top {
  margin-top: 17.5px !important; }

.push-half--right {
  margin-right: 17.5px !important; }

.push-half--bottom {
  margin-bottom: 17.5px !important; }

.push-half--left {
  margin-left: 17.5px !important; }

.push-half--ends {
  margin-top: 17.5px !important;
  margin-bottom: 17.5px !important; }

.push-half--sides {
  margin-right: 17.5px !important;
  margin-left: 17.5px !important; }

.push-part {
  margin: 15px !important; }

.push-part--top {
  margin-top: 15px !important; }

.push-part--right {
  margin-right: 15px !important; }

.push-part--bottom {
  margin-bottom: 15px !important; }

.push-part--left {
  margin-left: 15px !important; }

.push-part--ends {
  margin-top: 15px !important;
  margin-bottom: 15px !important; }

.push-part--sides {
  margin-right: 15px !important;
  margin-left: 15px !important; }

.push-tiny {
  margin: 5px !important; }

.push-tiny--top {
  margin-top: 5px !important; }

.push-tiny--right {
  margin-right: 5px !important; }

.push-tiny--bottom {
  margin-bottom: 5px !important; }

.push-tiny--left {
  margin-left: 5px !important; }

.push-tiny--ends {
  margin-top: 5px !important;
  margin-bottom: 5px !important; }

.push-tiny--sides {
  margin-right: 5px !important;
  margin-left: 5px !important; }

.flush {
  margin: 0 !important; }

.flush--top {
  margin-top: 0 !important; }

.flush--right {
  margin-right: 0 !important; }

.flush--bottom {
  margin-bottom: 0 !important; }

.flush--left {
  margin-left: 0 !important; }

.flush--ends {
  margin-top: 0 !important;
  margin-bottom: 0 !important; }

.flush--sides {
  margin-right: 0 !important;
  margin-left: 0 !important; }

.complete-flush {
  margin: 0 !important;
  padding: 0 !important; }

.complete-flush--top {
  margin-top: 0 !important;
  padding-top: 0 !important; }

.complete-flush--right {
  margin-right: 0 !important;
  padding-right: 0 !important; }

.complete-flush--bottom {
  margin-bottom: 0 !important;
  padding-bottom: 0 !important; }

.complete-flush--left {
  margin-left: 0 !important;
  padding-left: 0 !important; }

.complete-flush--ends {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  padding-bottom: 0 !important;
  padding-top: 0 !important; }

.complete-flush--sides {
  margin-right: 0 !important;
  margin-left: 0 !important;
  padding-left: 0 !important;
  padding-right: 0 !important; }

.float-right {
  float: right !important; }

.float-left {
  float: left !important; }

.full--width {
  width: 100% !important; }

.inline-block {
  display: inline-block; }

.block {
  display: block; }

.bg-seafoam {
  background-color: #42BA92;
  /*If the BG is seafoam you should probably have white text :P*/
  color: white; }

.raleway {
  font-family: Raleway, sans-serif; }

.opensans {
  font-family: "Open Sans", sans-serif; }

.nav-button {
  padding-left: 10px;
  padding-right: 10px;
  font-family: Raleway, sans-serif;
  text-decoration: none;
  color: white; }

.end-nav {
  border-right: 1px solid white; }

.nav-button:hover {
  background-color: #42BA74; }

.nav-button > h2 {
  margin-top: 3px;
  margin-bottom: 3px; }

.nav-button:not(.logo) > h2 {
  font-weight: normal; }

.nav-button.border-left {
  border-left: 1px solid white; }

.nav-button.border-right {
  border-right: 1px solid white; }

.nav-button.logo {
  font-weight: bold; }

.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin-bottom: -130px; }

.push,
.footerContainer {
  height: 130px; }

.footerContainer {
  margin: 0;
  padding: 0; }
  .footerContainer .footer {
    margin: 0;
    padding: 0;
    display: flex;
    height: 130px; }
    .footerContainer .footer div {
      display: inline-block;
      flex-grow: 1;
      flex-basis: 0;
      text-align: center; }
      .footerContainer .footer div .footerLink {
        color: white;
        text-decoration: none;
        font-family: 'Raleway', sans-serif;
        display: block;
        width: 100%;
        height: 130px;
        line-height: 130px;
        flex-grow: 1;
        position: relative;
        transition: background-color 0.1s ease-in-out; }
        .footerContainer .footer div .footerLink:hover {
          background-color: #13171B; }

.grid .half {
  width: 50%; }
.grid .one-third {
  width: 33%; }
.grid .two-third {
  width: 66%; }
.grid .one-fourth {
  width: 25%; }
.grid .three-fourth {
  width: 75%; }
.grid .one-fifth {
  width: 20%; }

span.smalltext {
  font-size: 12px; }

.text--right {
  text-align: right !important; }

.text--left {
  text-align: left !important; }

/*
	formatting:
	comment "begin main section name"
	comment "< section name"
	..styles..
	comment "> section name"
	
	
	comment "< section name 2"
	..styles..
	comment "> section name 2"
	comment "end main section name"
*/
/*
    everything else is ugly so nobody touch this
    part unless it stays clean.
*/
.section {
  border: 1px solid #42BA92;
  border-radius: 5px;
  box-sizing: border-box;
  position: relative;
  padding: 7px;
  box-sizing: border-box; }
  .section-tall {
    height: 200px; }
  .section .subsection {
    height: 100%;
    padding-left: 5px;
    padding-right: 5px;
    font-family: 'Open Sans', sans-serif; }
    .section .subsection:not(:first-child) {
      border-left: 1px solid #42BA92; }
    .section .subsection form input {
      display: block; }
    .section .subsection form.login-form input {
      margin: auto;
      margin-bottom: 10px;
      border-radius: 5px;
      height: 30px;
      border: 1px solid black;
      box-shadow: none;
      text-indent: 3px; }
    .section .subsection form.login-form button {
      border: none;
      background-color: #1F8C68;
      color: white;
      border-radius: 4px;
      transition: background 0.1s ease-out;
      cursor: pointer;
      padding-top: 3px;
      padding-bottom: 3px; }
      .section .subsection form.login-form button:hover {
        background-color: #319E7A; }
    .section .subsection form.login-form div {
      height: 35px; }
  .section * {
    box-sizing: border-box; }

/* begin presets */
/* < basic styling */
html {
  height: 100%; }

body {
  margin: 0;
  padding: 0;
  height: 100%; }

/* > basic styling */
/* < alignment and containers */
.centered {
  max-width: 900px;
  margin: 0 auto; }

.centered-large {
  max-width: 1000px;
  margin: 0 auto; }

.center-align {
  text-align: center; }

.right-align {
  text-align: right; }

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px 0px; }

/* > alignment and containers */
/* < backgrounds */
.light-back {
  background-color: #444C54; }

.darkBack {
  background: #252E35;
  overflow: hidden; }

/* > backgrounds*/
/* < buttons */
.ghostButton {
  color: white;
  text-decoration: none;
  margin-left: 20px;
  border: 2px solid white;
  padding: 10px 20px;
  border-radius: 999px; }

.ghostButton:hover {
  /* keep wacky numbers to prevent font weight change from mattering */
  background: white;
  color: #444C54;
  font-weight: 600;
  margin-left: 19.8px;
  padding-left: 19px; }

.lightButton {
  color: white;
  text-decoration: none; }

/* > buttons */
/* < text */
.boxDescription {
  max-width: 180px;
  font-family: 'Raleway', sans-serif;
  background: rgba(255, 255, 255, 0.7);
  margin: 20px;
  padding: 40px;
  border-radius: 4px; }

.boxHeader {
  font-size: 22px;
  margin: 0px;
  display: inline; }

.boxContent {
  display: block;
  margin-top: 16px; }

.sectionHeader {
  text-align: center;
  color: white;
  padding-top: 40px;
  margin: 0px;
  font-size: 32px;
  font-family: 'Raleway', sans-serif; }

.sectionSubheader {
  text-align: center;
  margin: 0px;
  padding-top: 6px;
  font-size: 16px;
  font-family: 'Raleway', sans-serif;
  color: rgba(0, 0, 0, 0.55); }

/* > text */
/* < hero / other */
.heroWrap {
  font-family: 'Raleway', sans-serif;
  padding: 160px 0 100px 0;
  position: relative; }

.heroLink {
  text-decoration: none; }

.cta-hero {
  margin: 0 auto;
  margin-top: 80px;
  background: #1F8C68;
  color: white;
  text-decoration: none;
  padding: 30px;
  text-align: center;
  display: inline-block;
  border-radius: 4px;
  transition: background 0.1s ease-out; }

.cta-hero:hover {
  background: #319E7A; }

.cta-main {
  font-size: 28px;
  font-weight: 700; }

.cta-sub {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.6); }

/* > hero */
/* end presets*/
/* begin header */
.nav {
  font-family: 'Raleway', sans-serif;
  display: inline;
  float: right;
  margin: 28px 15px; }

#header {
  padding: 150px 0 100px 0;
  font-family: 'Raleway', sans-serif; }

#title-container {
  max-width: 600px;
  margin: 0 auto;
  text-align: center; }

#page-title {
  margin: 0;
  color: white;
  font-size: 3.5em; }

#page-description {
  margin: 0;
  font-size: 2em;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.5); }

/* end header*/
/* begin description */
.description-icon {
  float: right; }

/* end description */
/* begin team */
.teamIcon {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  padding: 0;
  border: none; }

.teamIcon:hover {
  box-shadow: 0 0 8px 3px rgba(50, 50, 50, 0.75); }

.teamMember {
  text-align: center;
  font-family: 'Raleway', sans-serif;
  margin: 40px; }

.member-name {
  margin-top: 2px;
  font-family: sans-serif;
  color: #252e35; }

/* end team*/
/* begin sign up / login */
.form-box h3 {
  margin-top: 10px;
  font-size: 35px;
  color: #444c54; }

.form-box {
  max-width: 400px;
  margin: 0 auto;
  padding: 40px;
  font-family: 'Raleway', sans-serif;
  text-align: center;
  background: rgba(255, 255, 255, 0.7);
  border: 1px solid #c8c8c8;
  border-radius: 4px; }

.form-input {
  width: 100%;
  display: block;
  padding: 10px;
  font-size: 14px;
  line-height: 17px;
  border-radius: 6px;
  margin: 10px auto;
  margin-left: -12px;
  border-radius: 6px;
  background: white;
  border: 1px solid #d9d9de;
  color: #0f2105; }

.submit-button {
  border: none;
  font-size: 20px;
  font-weight: 700;
  background-color: #1F8C68;
  color: white;
  padding: 10px;
  border-radius: 4px;
  transition: background 0.1s ease-out;
  margin-top: 20px; }

.submit-button:hover {
  background: #319E7A;
  cursor: pointer; }

/* end sign up / login */
/* begin login & sign up header */
#small-header {
  font-family: 'Raleway', sans-serif;
  overflow: hidden; }

#small-header-title {
  margin: 10px 0 10px 5px;
  float: left;
  color: white;
  font-size: 3em; }

#small-header-title a {
  color: white;
  text-decoration: none; }

/* scale down to prevent wrapping */
@media (max-width: 480px) {
  #small-header {
    font-size: 15px; }

  #small-header-title {
    margin-top: 20px;
    margin-bottom: 19px;
    font-size: 1.9em; } }
/* end login & sign up header */
/* begin privacy agreement */
#privacy-agreement {
  max-width: 960px;
  margin: 20px auto;
  color: #3d3d3d;
  font-family: 'Raleway', sans-serif; }

/* end privacy agreement*/
/* __init__'s stuff */
.white {
  color: white; }

.aligncenter {
  text-align: center; }

/*# sourceMappingURL=style.css.map */
